code,year,headline,states
VNM,1975,Saigon falls to Communist Forces,same
ESH,1975,Morocco Invades Spanish Sahara,different
MOZ,1976,"Independence from Portugal, Civil War",same
BDI,1976,Tutsi President Micombero Deposed in Coup,same
ERI,1977,Independence Movement Defeated,same
ETH,1977,Somalia Invades Ethiopian Region of Ogaden,different
GIN,1977,Riots Lead to Limited Economic Reforms,same
TLS,1977,Indonesian Offensive on East Timorese,different
NAM,1978,UN Lays Groundwork for Eventual Independence,same
SOM,1978,Ethiopia Defeats Somali Invasion,different
RWA,1978,Hutu President Habyarimana Elected,same
AFG,1979,"Soviet Invasion, Start of 10 Year War",different
GNQ,1979,Dictator Francisco Macias Nguema Deposed,same
IRQ,1979,Saddam Hussein Takes Power,same
KHM,1979,Vietnamese Army Topples Khmer Rouge ,different
NIC,1979,Dictator Somoza Overthrown,same
UGA,1979,"Dictator Idi Amin Deposed, Violence Continues",same
VNM,1979,"Sino-Vietnamese War, Ethnic Chinese Population Expelled",different
BIH,1980,"Marshal Josip Tito Dies, Yugoslavia Begins to Disintegrate",same
SLV,1980,Archbishop Oscar Romero Assassinated,same
SUR,1980,Military Coup Leads to Economic Collapse,same
ZWE,1980,Robert Mugabe Elected President,same
AGO,1981,South African Troops Invade,different
SYR,1982,Uprising Against Assad Regime Crushed in Hama,same
LKA,1983,Deadly Riots Against Tamil Minority Leads to Civil War,same
SDN,1983,War for Independence Resumes after Lacuna,same
GIN,1984,President Sékou Touré Dies,same
BTN,1985,New Citizenship Laws Disenfranchise Ethnic Nepalis,same
COL,1985,"Rebels Capture Supreme Court, Bloodbath Ensues",same
RUS,1985,Mikhael Gorbachev Comes to Power,same
SUR,1986,Civil War Begins ,same
UGA,1986,"Ugandan Bush War Ends, Museveni Takes Power",same
YEM,1986,Civil War Begins in South Yemen,same
PHL,1987,New Constitution in the Wake of People Power Revolution,same
AZE,1988,Demonstrations in Armenia on Nagorno Karabkh ,same
MMR,1988,"Peaceful Protests Crushed, Military Government Replaced in Coup",same
RWA,1988,"Violence in Burundi sends 50,000 Hutu Refugees into Rwanda",same
LBR,1989,"President Doe Deposed, Civil War Begins",same
BTN,1990,Ethnic Nepalis Protest Against Official Discrimination,same
LKA,1990,"Indian Peacekeepers Withdraw, Conflict Escalates",same
NAM,1990,Independence from South Africa,same
NIC,1990,"Democratic Elections, End of Civil War",same
YEM,1990,"North and South Yemen Unite, Violence Continues",same
AZE,1991,"Independence, Nagorno Karabakh Secedes ",same
ESH,1991,"UN Brokers Ceasefire, Conflict Unresolved",same
ETH,1991,"Derg Deposed, End of Civil War",same
HRV,1991,Independence Civil War Begins,same
IRQ,1991,US Defeats Iraqi Army in Kuwait,different
KHM,1991,Peace Treaty Signed in Paris,same
RUS,1991,Soviet Union Dissolved,same
SLE,1991,Civil War Begins with Liberian Involvement,same
SOM,1991,"President Siad Barre Deposed, Total State Collapse",same
AGO,1992,Second Civil War Starts,same
BIH,1992,"Independence, Bosnian Serbs Secede",same
MOZ,1992,"Civil War Ends, Most Refugees Repatriated",same
SLV,1992,Peace Agreement Ends Civil War,same
BDI,1993,President Ndadaye Assinassinated ,same
ERI,1993,Independence from Ethiopia,same
RWA,1994,"Genocide of 800,000 Tutsis",same
MLI,1995,Peace Agreement with Rebel Tuaregs,same
AFG,1996,Taliban Capture Kabul,different
GNQ,1996,Oil Discovered Offshore,same
LBR,1997,"Charles Taylor Elected President, Civil War Continues",same
COD,1998,"Second Civil War Begins After Rwandan, Ugandan Intervention",same
SLE,1999,UN Intervenes to Enforce Ceasefire,same
TLS,1999,Referendum Vote for Independence Leads to Renewed Violence,same
ZWE,2000,"Land Reform, Economic Collapse",same
AFG,2001,"NATO Invasion, Taliban Deposed",different
AGO,2002,"Jonas Savimbi Killed, End of Civil Wars",same
COD,2002,Peace Deal Ends Second Civil War,same
IRQ,2003,"Saddam Hussein Overthrown, Sparks Civil War",same
SDN,2003,Civil War Begins in Darfur Region,same
COL,2004,"Peace Talks with Right-wing Militias, Palmera Captured",same
CAF,2005,"Bozizé Wins Presidency, Flooding Displaces 200,000",same
SOM,2006,Islamists Take Control of Mogadishu,same
MMR,2007,Peaceful Protests Crushed,same
COD,2008,Civil War Resumes in Kivu,same
PHL,2009,Massacre on Island of Mindanao,same
CAF,2010,Rebels Attack Northern City of Birao,same
SYR,2011,Anti-Government Protests in Daraa Incite Civil War,same
MLI,2012,Tuareg Rebels Capture Timbuktu Following Army Coup ,same