description,year
Lee and Jackson meet,1942
Lee and Jackson marry,1945
Jackson starts treatment for alcoholism,1948
Jackson ends treatment for alcoholism,1950
Jackson dies from driving while intoxicated,1956
Lee suffers a near-fatal brain aneurysm,1962