title,artist,position,year,file,active
Self-Portrait,Lee Krasner,0,1929,krasner-self-portrait.jpg,1
"Gansevoort, Number 1",Lee Krasner,0,1934,krasner-gansevoort-number-1.jpg,1
Going West,Jackson Pollock,1,1935,pollock-going-west.jpg,1
Untitled (Figure Composition),Jackson Pollock,1,1938,pollock-untitled-figure-composition.jpg,1
Still Life,Lee Krasner,0,1938,krasner-still-life.jpg,1
Seated Nude,Lee Krasner,0,1940,krasner-seated-nude.jpg,1
Untitled,Lee Krasner,0,1942,krasner-untitled-1942.jpg,1
Stenographic Figure,Jackson Pollock,1,1942,pollock-stenographic-figure.jpg,1
Composition,Lee Krasner,0,1943,krasner-composition-1943.jpg,1
Mural,Jackson Pollock,1,1943,pollock-mural.jpg,1
Blue Painting,Lee Krasner,0,1946,krasner-blue-painting.jpg,1
Eyes in the Heat,Jackson Pollock,1,1946,pollock-eyes-in-heat.jpg,1
The Key,Jackson Pollock,1,1946,pollock-key.jpg,0
Lucifer,Jackson Pollock,1,1947,pollock-lucifer.jpg,1
Shattered Color,Lee Krasner,0,1947,krasner-shattered-color.jpg,1
Number 5,Jackson Pollock,1,1948,pollock-number-5.jpg,1
Untitled,Lee Krasner,0,1948,krasner-untitled-1948.jpg,1
Number 1,Jackson Pollock,1,1949,pollock-number-1.jpg,1
Number 3,Jackson Pollock,1,1949,pollock-number-3.jpg,0
Untitled,Lee Krasner,0,1949,krasner-untitled-1949.jpg,0
Untitled,Lee Krasner,0,1949,krasner-untitled-1949-2.jpg,1
Untitled,Lee Krasner,0,1950,krasner-untitled-1950.jpg,1
Autumn Rhythm (Number 30),Jackson Pollock,1,1950,pollock-autumn-rhtyhm-number-30.jpg,1
Black & White (Number 20),Jackson Pollock,1,1951,pollock-black-white-number-20.jpg,0
Number 4,Jackson Pollock,1,1951,pollock-number-4.jpg,1
Number 3 (Untitled),Lee Krasner,0,1951,krasner-number-3-untitled.jpg,1
Convergence,Jackson Pollock,1,1952,pollock-convergence.jpg,1
Blue poles (Number 11),Jackson Pollock,1,1952,pollock-blue-poles-number-11.jpg,0
Ocean Greyness,Jackson Pollock,1,1953,pollock-ocean-greyness.jpg,1
Untitled,Lee Krasner,0,1953,krasner-untitled-1953.jpg,1
Search,Jackson Pollock,1,1955,pollock-search.jpg,1
Milkweed,Lee Krasner,0,1955,krasner-milkweed.jpg,1
Polar Stampede,Lee Krasner,0,1960,krasner-polar-stampede.jpg,1
Gothic Landscape,Lee Krasner,0,1961,krasner-gothic-landscape.jpg,1
Untitled,Lee Krasner,0,1964,krasner-untitled-1964.jpg,1
Night Creatures,Lee Krasner,0,1965,krasner-night-creatures.jpg,1
Gaea,Lee Krasner,0,1966,krasner-gaea.jpg,1
Comet,Lee Krasner,0,1970,krasner-comet.jpg,1
Rising Green,Lee Krasner,0,1972,krasner-rising-green.jpg,1
Embrace,Lee Krasner,0,1974,krasner-embrace.jpg,1
Free Space (Pink),Lee Krasner,0,1975,krasner-free-space.jpg,1