output/
data/*.json
data/*.csv
!data/years.csv
!data/instruments.csv
!data/instruments_stretch.csv
visualization/output/
visualization/build/
visualization/data/*.json
analysis/output/
analysis/build/
